.charsheet{
    --border: none;
    --tile_colour: rgba(213, 237, 190, 0.8);
    --background_image: url("https://raw.githubusercontent.com/astsbins/CustomFalloutSheet/master/fallout%20Background%20texture.jpg");
    --button_colour: #b0e178;
    --buton_hover_colour: #002700;
    --unselected_tab_colour: #82bd75;
    color: black;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dotted black;
    /*background-color: rgba(213, 237, 190,0.5);*/
    background-color: transparent;
    height: 1em;
    padding: 0.2em;
    float: none;
    width: 90%;
    overflow: hidden;
    box-sizing : border-box;
}
input[type=number]{
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*.sheet-grid{*/
/*    display: grid;*/
/*    grid-template-rows: 1fr 55fr;*/
/*    grid-gap: 0.5em;*/
/*    width: 850px;*/
/*    height: 1400px;*/
/*!*}*!*/
/*.charsheet button[type=roll] {*/

/*   border: 0;    box-shadow: none;    text-align: left;    text-shadow: initial; }*/
button, .charsheet button[type=roll]{
    background-image: none;
    background-color: var(--button_colour);
    border: 1px solid #206a20;
}

button:hover{
    background-color: var(--buton_hover_colour);
    border: 1px solid var(--buton_hover_colour);
    color: var(--tile_colour) ;
    /*transition-duration: 0.3s;*/
}

button:active{
    border: 1px solid #3FB315;
}
.sheet-content{
    width: 900px;
    height: 1600px;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(11,1fr);
    grid-gap: 0.5em;
    background-image: var(--background_image);
    padding: 1em;
}


.sheet-content > div{
    /*border: var(--border);*/
    /*padding: 0.3em;*/
    /*display: grid;*/
}

.sheet-special{
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: repeat(7,1fr);*/
    grid-column: 1/2;
    grid-row: 1/9;
    border: none;
    grid-gap: 2em;
}

.sheet-special > div{
    grid-column: 1;
    border: var(--border);
    background-color: var(--tile_colour);
    padding: 0.5em;
    display: grid;
    /*grid-template-columns: 0.8fr;*/
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}
.sheet-special > div > input[type="number"]{
    min-width: 0;
    width: 100%;
    justify-self: center;
}
.sheet-special > div > button{
    width: 80%;
}

.sheet-skills{
    border: var(--border);
    background-color: var(--tile_colour);
    grid-column: 2/4;
    grid-row: 1/9;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.sheet-skills >  *{
    display: flex;
}


.sheet-skills > span > button{
    flex: 2;
    text-align: left;
    /*justify-content: left;*/
    /*justify-self: left;*/
    /*justify-items: left;*/
}

.sheet-charinfo{
    border: var(--border);
    background-color: var(--tile_colour);
    grid-column: 4/10;
    grid-row: 1/2;
    padding: 0.5em;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    /*grid-gap: 0.5em;*/
    grid-column-gap: 0.5em;
    grid-row-gap: 0.3em;
}

.sheet-info_input > input[type="number"]{
    width: 40%
}

.sheet-main{
    grid-column: 4/10;
    grid-row: 2/9;
    /*border: var(--border);*/
    display: grid;
    grid-template-areas: "rll"
                         "tab"
                         "cnt";
    /*grid-template-columns: repeat(5,1fr);*/
    grid-template-rows: 0.6fr 0.1fr 12fr;
    grid-gap: 0.5em;
}
.sheet-main{
    min-height: 0;
    max-height: 100%;
}
.sheet-rolls{
    /*grid-column: 1/6;*/
    /*grid-row: 1/2;*/
    grid-area: rll;
    border: var(--border);
    background-color: var(--tile_colour);
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr repeat(3,3fr);
    grid-gap: 0.5em;
}

.sheet-rolls > *{
    justify-self: center;
    align-self: center;
    padding: 0.5em;

    /*border: var(--border);*/
}
.sheet-main_tabs{
    grid-area: tab;
    display: grid;
    border: var(--border);
    /*background-color: var(--tile_colour);*/
    /*padding: 0.5em;*/
}
.sheet-main_tabstoggle[value="vehicle"] ~   div.sheet-vehicle{
    display: block;
}
.sheet-main_tabs > div >button{
    font-size: 1em;
    /*color: red;*/


}

.sheet-character,
.sheet-companion,
.sheet-vehicle,
.sheet-settlement{
    display: none;
}
/*main tabs*/
.sheet-main_tabstoggle[value="character"] ~ div.sheet-character,
.sheet-main_tabstoggle[value="companion"] ~ div.sheet-companion,
.sheet-main_tabstoggle[value="settlement"] ~ div.sheet-settlement {
    display: grid;
}




/*.sheet-awt > div{*/
/*    border: var(--border);*/
/*    background-color: var(--tile_colour);*/
/*    padding: 0.5em;*/
/*}*/
.sheet-character{
    min-height: 0;
    min-width: 0;
    /*display: grid;*/
    grid-area: cnt;
    /*grid-column: 1/6;*/
    grid-template-areas: "hdr hdr hdr prk prk"
                        "atk atk atk prk prk"
                        "awt awt awt prk prk";
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1.5fr 6fr 10fr;
    grid-gap: 0.3em;
    border: var(--border);
}
.sheet-character > div{
    min-height: 0;
}
/*.sheet-middle {*/
/*    !*min-height: 0;*!*/
/*    min-width: 0;*/
/*    display: grid;*/
/*    grid-column: 1/4;*/
/*    grid-row: 2/13;*/
/*    grid-template-columns: 1fr;*/
/*    grid-template-rows: repeat(13,1fr);*/
/*    !*grid-column-gap: 0.5em;*!*/
/*    grid-gap: 0.5em;*/
/*}*/

.sheet-hdr{
    grid-area: hdr;
    min-width: 0;
    display: grid;
    grid-row: 1/2;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.5em;
    /*border: var(--border);*/
    /*padding: 0.5em;*/
}

.sheet-hdr > div{
    grid-template-areas:   "title title"
    "cur  max";
    grid-template-columns: 1fr   1fr;
    grid-template-rows:    1fr   1fr;
    border: var(--border);
    background-color: var(--tile_colour);
    padding: 0.5em;
}

.sheet-hdr >div > h4{
    grid-area: title;
}
.sheet-hdr >div > input[type="number"]{
    min-width: 0;
    width: 50%;
    justify-self: center;
}



.sheet-armor_tab,
.sheet-wounds,
.sheet-trackers {
    display: none;
}

/* show the selected tab */
.sheet-awt_tabstoggle[value="armor_tab"] ~ div.sheet-armor_tab,
.sheet-awt_tabstoggle[value="wounds"] ~ div.sheet-wounds,
.sheet-awt_tabstoggle[value="trackers"] ~ div.sheet-trackers {
    display: grid;
    min-width: 0;
}

button[name="act_armor_tab"],
button[name="act_wounds"],
button[name="act_trackers"]{
    background-color: var(--unselected_tab_colour);
}

.sheet-awt_tabstoggle[value="armor_tab"] ~ div button[name="act_armor_tab"],
.sheet-awt_tabstoggle[value="wounds"] ~ div button[name="act_wounds"],
.sheet-awt_tabstoggle[value="trackers"] ~ div button[name="act_trackers"] {
    background-color: var(--tile_colour);
    border: 1px solid var(--tile_colour);
}


.sheet-attacks{
    /*max-height: 100%;*/
    grid-area: atk;
    min-height: 0;
    min-width: 0;
    overflow: auto;
    /*grid-column: 1/2;*/
    /*grid-row: 2/6;*/
    display: flex;
    flex-direction: column;
    border: var(--border);
    background-color: var(--tile_colour);
    padding: 0.5em;
    /*TODO: Fix this hack, should need to do this to make to stay up top*/
    /*grid-template-rows: repeat(9,1fr);*/
}
.sheet-attacks > div > input[type="number"]{
    width: 100%;
}
.sheet-damage_effects{
    grid-area: eft;
    justify-self: center;
    width: 100%;
}
.sheet-attacks > div > *{
    border: var(--border);
    /*background-color: var(--tile_colour);*/
}

.sheet-attacks >.repcontainer[data-groupname="repeating_attacks"]{
    min-width: 0;
    display: grid;
    grid-gap: 0.4em;
}
.sheet-attacks >.repcontainer[data-groupname="repeating_attacks"] >.repitem{
    min-width: 0;
    height: min-content;
    display: grid;
    grid-template-areas:  "rol rls wep amm"
    "rol eft eft eft";
    grid-template-columns: 1fr 1fr 5fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.2em;

}
button[name="attr_atk_roll"]{
    grid-area: rol;
}
.sheet-awt{
    /*grid-column: 1/2;*/
    grid-area: awt;
    min-width: 0;
    display: flex;
    flex-direction: column;
    /*grid-row: 6/14;*/
    grid-template-areas: "tabs"
    "content";

    /*border: var(--border);*/
    /*border: var(--border);*/
}

.sheet-awt_tabs > button{
    background-color: var(--tile_colour);
    border: 1px solid var(--tile_colour);

}
.sheet-awt_tabs >button:hover{
    color: black;
}
.sheet-armor_tab{
    /*display: grid;*/
    grid-area: content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(7,2fr);
    background-color: var(--tile_colour);
    min-height: 0;
    height: 100%;
    padding: 0.5em;
    grid-gap: 0.2em;
}
.sheet-armor_tab > div{
    border: var(--border);
    background-color: var(--tile_colour);
    padding: 0.2em;
}

.sheet-armor_title{
    grid-row: 1;
}
.sheet-armor_location{
    display: grid;
    grid-template-areas: "loc nam nam nam"
                         "phy ene rad poi";
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
}

.sheet-armor_location > .sheet-armor_name{
    grid-area: nam;
    min-height: 0;
}

.sheet-armor_location >div >input[type="number"]{
    min-width: 0;
    height: 1.2em;
}
.sheet-armor_location >div >input[type="text"]{
    height: 1.2em;
}
.sheet-wounds{
    padding: 0.5em;
    background-color: var(--tile_colour);
    /*max-height: 100%;*/
    height: 100%;
}

.sheet-trackers{
    padding: 0.5em;
    background-color: var(--tile_colour);
    /*max-height: 100%;*/
    height: 100%;
}



.sheet-perks{
    grid-area: prk;
    /*grid-column: 4/6;*/
    /*grid-row: 2/14;*/
    border: var(--border);
    background-color: var(--tile_colour);
    padding: 0.5em;
    min-width: 0;
    max-width: 100%;
}
.sheet-perk_descr  {
    min-width: 0;
    height: 90%;
    width: 95%;
}
.sheet-perks > .repcontainer[data-groupname="repeating_perks"]{
    min-width: 0;
    display: grid;
    grid-gap: 0.5em;
}
.sheet-perks > .repcontainer[data-groupname="repeating_perks"] >.repitem{
    min-width: 0;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-gap: 0.3em;
}
.sheet-perk_name{
    display: flex;
}
/*.sheet-perks > .repcontainer[data-groupname="repeating_perks"] >.repitem > span > input[type=text]{*/
/*    min-width: 0;*/
/*    width: 70%;*/
/*}*/
.sheet-weapons{
    border: var(--border);
    background-color: var(--tile_colour);
    grid-column: 1/10;
    grid-row: 9/12;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*display: grid;*/
    /*grid-gap: 0.3em;*/
    /*grid-template-columns: 1fr;*/
    /*TODO: fix this hack*/
    /*grid-template-rows: repeat(9,1fr);*/
}

.sheet-weapons > .sheet-weapon_titles,
.sheet-weapons > .repcontainer[data-groupname="repeating_weapons"] >.repitem{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*grid-column: 1/2;*/
    /*height: min-content;*/
    height: min-content;
    width: 100%;
    display: grid;
    grid-gap: 0.4em;
    grid-template-areas:    "wep atr skl   mod dmt   dmg rng rte clp amt";
    grid-template-columns:   3fr 2fr 2.5fr 1fr 1.5fr 1fr 1fr 1fr 1fr 1.5fr;
}


.sheet-weapons > .repcontainer[data-groupname="repeating_weapons"]{
    display: grid;
    grid-gap: 0.4em;
}
.sheet-weapons > div > *{
    border: var(--border);
    /*background-color: var(--tile_colour);*/
    /*padding: 0.2em;*/
    max-width: 100%;
    min-width: 0;
    /*align-self: center;*/
    /*justify-self: center;*/
    /*color: #FF0000;*/
    /*height: 1.5em;*/
}
.repitem > *{
    border: var(--border);
    background-color: var(--tile_colour);
    max-width: 100%;
    min-width: 0;
}

.repitem> input[type="number"],
.repitem> input[type = "text"],
.repitem> select{
    min-width: 0;
    width: 100%;
    height: 100%;
    /*height:2em;*/
}

.sheet-vehicle {
    width: 100%;
}

.sheet-vehicle > *{
    width: 100%;
    border: var(--border);
    min-height: 0;
}

.repcontainer[data-groupname="repeating_vehicles"] > .repcontainer{
    padding: 0.5em;
}




.sheet-rolltemplate-default > table> caption {
    font-weight: bold;
    background-color: #206a20;
}
