.charsheet{
    --border: 1px solid black;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dotted black;
    /*background-color: rgba(213, 237, 190,0.5);*/
    background-color: transparent;
    height: 1em;
    padding: 0.2em;
    float: none;
    width: 90%;
    overflow: hidden;
    box-sizing : border-box;
}

input[type ="number"]{
    min: "1";
}
.sheet-grid{
    display: grid;
    grid-template-rows: 1fr 55fr;
    grid-gap: 0.5em;
}

.sheet-main_tabs{
    grid-row: 1;
    display: grid;
    border: var(--border);
    /*padding: 0.5em;*/
}
div.sheet-character,
div.sheet-companion,
div.sheet-vehicle,
div.sheet-settlement{
    display: none;
}
    /*main tabs*/
.sheet-main_tabstoggle[value="character"] ~ div.sheet-character,
.sheet-main_tabstoggle[value="companion"] ~ div.sheet-companion,
.sheet-main_tabstoggle[value="vehicle"] ~   div.sheet-vehicle,
.sheet-main_tabstoggle[value="settlement"] ~ div.sheet-settlement {
    display: grid;
}
.sheet-main_tabs > div >button{
    font-size: 1.2em;
    /*color: red;*/
    height: 1.3em;

}

.sheet-character{
    grid-row: 2;
    width: 850px;
    height: 1400px;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(11,1fr);
    grid-gap: 0.5em;
}

.sheet-content > div{
    /*border: var(--border);*/
    /*padding: 0.3em;*/
    display: grid;
}

.sheet-special{
    grid-template-columns: 1fr;
    grid-column: 1/2;
    grid-row: 1/9;
    border: none;
    grid-gap: 2em;
}

.sheet-special > div{
    grid-column: 1;
    border: var(--border);
    padding: 0.5em;
    display: grid;
    /*grid-template-columns: 0.8fr;*/
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}
.sheet-special > div > input[type="number"]{
    min-width: 0;
    width: 100%;
    justify-self: center;
    min: 0;
}
.sheet-special > div > button{
    width: 80%;
}

.sheet-skills{
    border: var(--border);
    grid-column: 2/4;
    grid-row: 1/9;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.sheet-skills >  *{
    display: flex;
}


.sheet-skills > span > button{
    flex: 2;
}

.sheet-charinfo{
    border: var(--border);
    grid-column: 4/10;
    grid-row: 1/2;
    padding: 0.5em;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    /*grid-gap: 0.5em;*/
    grid-column-gap: 0.5em;
    grid-row-gap: 0.3em;
}


.sheet-main{
    grid-column: 4/10;
    grid-row: 2/9;
    /*border: var(--border);*/
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-gap: 0.5em;

}


.sheet-middle {
    display: grid;
    grid-column: 1/4;
    grid-row: 2/13;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(13,1fr);
    /*grid-column-gap: 0.5em;*/
    grid-gap: 0.5em;
}

.sheet-hdr{
    display: grid;
    grid-row: 1/2;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.5em;
    /*border: var(--border);*/
    /*padding: 0.5em;*/
}

.sheet-hdr > div{
    grid-template-areas:   "title title"
                            "cur  max";
    grid-template-columns: 1fr   1fr;
    grid-template-rows:    1fr   1fr;
    border: var(--border);
    padding: 0.5em;
}

.sheet-hdr >div > h4{
    grid-area: title;
}
.sheet-hdr >div > input[type="number"]{
    min-width: 0;
    width: 50%;
    justify-self: center;
}

/*.sheet-hp{*/
/*    grid-column: 1;*/
/*}*/

/*.sheet-def{*/
/*    grid-column: 2;*/
/*}*/

/*.sheet-rad{*/
/*    grid-column: 3;*/
/*}*/

.sheet-rolls{
    grid-column: 1/6;
    grid-row: 1/2;
    border: var(--border);
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr repeat(3,3fr);
    grid-gap: 0.5em;
}

.sheet-rolls > *{
    justify-self: center;
    align-self: center;
    padding: 0.5em;

    /*border: var(--border);*/
}

/*.sheet-main_roller{*/
/*    size: inherit;*/
/*}*/



.sheet-attacks{
    max-height: 100%;
    min-height: 0;
    min-width: 0;
    overflow: auto;
    grid-column: 1/2;
    grid-row: 2/6;
    display: grid;
    border: var(--border);
    padding: 0.5em;
    /*TODO: Fix this hack, should need to do this to make to stay up top*/
    /*grid-template-rows: repeat(9,1fr);*/
}
.sheet-attacks > h4{

}
.sheet-attacks >.repcontainer[data-groupname="repeating_attacks"] >.repitem{

    display: grid;
    grid-template-areas:  "rol rls wep amm"
                          "rol eft eft eft";
    grid-template-columns: 1fr 1fr 5fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.2em;
}
button[name="attr_atk_roll"]{
    grid-area: rol;
}
.sheet-awt{
    /*grid-column: 1/2;*/
    display: grid;
    grid-row: 6/14;
    grid-template-areas: "tabs"
                         "content";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 16fr;
    grid-gap: 0.5em;
    /*border: var(--border);*/
}

.sheet-awt > div{
    border: var(--border);
    padding: 0.5em;
}
.sheet-weapons > .repcontainer[data-groupname="repeating_attacks"]{
    /*display: grid;*/
    grid-gap: 0.4em;
}
.sheet-attacks > div > input[type="number"]{
    width: 100%;
}
.sheet-damage_effects{
    grid-area: eft;
    justify-self: center;
    width: 100%;
}
.sheet-attacks > div > *{
    border: var(--border);
}
.sheet-awt_tabs{
}
.sheet-armor{
    display: grid;
    grid-area: content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(7,2fr);
    min-height: 0;
}
.sheet-armor > div{
    border: var(--border);
    padding: 0.2em;
}

.sheet-armor_title{
    grid-row: 1;
}
.sheet-armor_location{
    display: grid;
    grid-template-areas: "loc nam nam nam"
                         "phy ene rad poi";
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
}

.sheet-armor_location > .sheet-armor_name{
    grid-area: nam;
    min-height: 0;
}

.sheet-armor_location >div >input[type="number"]{
    min-width: 0;
    height: 1.2em;
}
.sheet-armor_location >div >input[type="text"]{
    height: 1.2em;
}
.sheet-wounds{
    /*max-height: 100%;*/
    /*height: 100%;*/
}

.sheet-trackers{
    /*max-height: 100%;*/
    /*height: 100%;*/
}
.sheet-armor,
.sheet-wounds,
.sheet-trackers {
    display: none;
}

/* show the selected tab */
.sheet-awt_tabstoggle[value="armor"] ~ div.sheet-armor,
.sheet-awt_tabstoggle[value="wounds"] ~ div.sheet-wounds,
.sheet-awt_tabstoggle[value="trackers"] ~ div.sheet-trackers {
    display: grid;
}


.sheet-perks{
    grid-column: 4/6;
    grid-row: 2/14;
    border: var(--border);
    padding: 0.5em;
}
.sheet-perk_descr  {
    height: 90%;
    width: 95%;
}
.sheet-perks > .repcontainer[data-groupname="repeating_perks"]{
    display: grid;
    grid-gap: 0.5em;
}
.sheet-perks > .repcontainer[data-groupname="repeating_perks"] >.repitem{
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-gap: 0.3em;
}
.sheet-perk_name{
    display: flex;
}
/*.sheet-perks > .repcontainer[data-groupname="repeating_perks"] >.repitem > span > input[type=text]{*/
/*    min-width: 0;*/
/*    width: 70%;*/
/*}*/
.sheet-weapons{
    border: var(--border);
    grid-column: 1/10;
    grid-row: 9/11;
    padding: 0.5em;
    /*display:flex;*/
    /*flex-direction: column;*/
    display: grid;
    grid-gap: 0.3em;
    grid-template-columns: 1fr;
    /*TODO: fix this hack*/
    grid-template-rows: repeat(9,1fr);
}

.sheet-weapons > .sheet-weapon_titles,
.sheet-weapons > .repcontainer[data-groupname="repeating_weapons"] >.repitem{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*grid-column: 1/2;*/
    width: 100%;
    display: grid;
    grid-gap: 0.3em;
    grid-template-areas:    "wep atr skl mod dmt dmg rng rte clp amt";
    grid-template-columns:   3fr 2fr 2fr 1fr 2fr 1fr 1fr 1fr 1fr 2fr;
}

.sheet-weapons > .repcontainer[data-groupname="repeating_weapons"]{
    /*display: grid;*/
    grid-gap: 0.4em;
}
.sheet-weapons > div > *{
    border: var(--border);
    /*padding: 0.2em;*/
    max-width: 100%;
    min-width: 0;
    /*align-self: center;*/
    /*justify-self: center;*/
    /*color: #FF0000;*/
    /*height: 1.5em;*/
}
.repitem > *{
    border: var(--border);
    max-width: 100%;
    min-width: 0;
}

.repitem> input[type="number"],
.repitem> input[type = "text"],
.repitem> select{
    min-width: 0;
    width: 100%;
    height:2em;
}







