@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');

:root{
    --backgroundColor: rgba(219, 227, 195,0.7);
}
input{
    background-color: rgba(237, 245, 215,0.7);
    height: 1em;
}
.charsheet {
/*height: 100%;*/

}
.charsheet > div{
    /*height: 100%;*/
    /*z-index: 100;*/

}
.sheet-grid {
    /*height: 100%;*/
    /*width: 100%;*/
    /*background-color:#d1e39d ;*/
    position: absolute;
    background-image: url("https://images4.alphacoders.com/969/thumb-1920-96964.jpg");
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family:"Roboto Mono", monospace;
    padding: 1em;
    grid-gap: 1em;
    color: black;
}

.sheet-grid > div {
    /*background-color: rgba(219, 227, 195,0.7);*/

}
.sheet-title {
    padding: 0.5em;
    grid-column: 1/13;
    justify-self: center;
    grid-auto-rows: min-content;
    color: black;
    background-color: rgba(219, 227, 195,0.7);

}

.sheet-3col{
    background-color: transparent;
    display: grid;
    grid-column: 1/13;
    grid-template-columns: repeat(3,1fr);
    /*grid-gap: 0.5em;*/
    grid-column-gap: 0.5em;
    grid-row-gap: 0.3em;
    padding: 0.5em;
}

.sheet-3col > div{
    background-color: rgba(219, 227, 195,0.7);
    padding: 0.5em;
}
 .sheet-2col {
     align-items: center;
     grid-column: span;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
 }